<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/src/modifiers/index.js"></script>
    <script src="~/Scripts/src/methods/update.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="col-md-12">
        <h1>Student Data Centre</h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
